name: Build and Release Zed for Windows (Nightly)

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/nightly.yml"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
    inputs:
      manual_release:
        description: "Manual release?"
        required: true
        type: boolean
        default: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      date: ${{ steps.date.outputs.date }}
    steps:
      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

  build:
    needs: check
    runs-on: windows-latest
    strategy:
      matrix:
        build_type: [vulkan, opengl]
    steps:
      - name: Enable long paths in Git
        run: |
          git config --system core.longpaths true
      - name: Enable long paths in Windows
        shell: powershell
        run: |
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" `
            -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force
      - name: Checkout Zed
        uses: actions/checkout@v4
        with:
          repository: zed-industries/zed
          ref: main
      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build to ${{ matrix.build_type }}
        shell: powershell
        run: |
          $env:RUSTFLAGS="--cfg ${{ matrix.build_type }}"
          cargo build --release
      - name: Archive ${{ matrix.build_type }} build
        uses: actions/upload-artifact@v4
        with:
          name: zed-nightly-${{ matrix.build_type }}-${{ needs.check.outputs.date }}
          path: target/release/zed.exe

  release:
    needs: [check, build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download Vulkan release artifact
        uses: actions/download-artifact@v4
        with:
          name: zed-nightly-vulkan-${{ needs.check.outputs.date }}
          path: zed-vulkan
      - name: Download OpenGL ES release artifact
        uses: actions/download-artifact@v4
        with:
          name: zed-nightly-opengl-${{ needs.check.outputs.date }}
          path: zed-opengl
      - name: Zip the Vulkan and OpenGL ES builds
        run: |
          zip -r zed-vulkan-${{ needs.check.outputs.date }}.zip zed-vulkan/*
          zip -r zed-opengl-${{ needs.check.outputs.date }}.zip zed-opengl/*
      - name: Generate Changelog
        run: echo "See [Zed release notes](https://github.com/zed-industries/zed/releases)." >> CHANGELOG.txt
      - name: Upload release build artifact to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: Zed for Windows (Nightly) ${{ needs.check.outputs.date }}
          body_path: CHANGELOG.txt
          tag_name: nightly-${{ needs.check.outputs.date }}
          draft: false
          make_latest: false
          files: |
            zed-nightly-vulkan-${{ needs.check.outputs.date }}.zip
            zed-nightly-opengl-${{ needs.check.outputs.date }}.zip
